<!-- * In your HTML template files, you may want to add a placeholder character that helps your program identify where the dynamic markup begins and ends. -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class = "card">
        <div class = "header">
            <div class = "name">Jared</div>
            <div class = "title">Engineer</div>
        </div>
        <div>ID: 1</div>
        <div>Email: jared@gmail.com</div>
        <div>Office Number: 1</div>
    </div>
</body>
</html>